body {
  background-color: antiquewhite;
}

.container {
  max-width: 615px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.second-row {
  padding-top: 20px;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 33%;
  border: 1px solid;
  margin-bottom: 10px;
  border-color: brown;
}

.coin {
  width: 50px;
  line-height: 48px;
  padding: 0;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.info {
  padding: 5px;
  text-align: center;
}

.info-container {
  float: left;
  width: 100px;
  height: 100px;
}

.name {
  background-color: #e4c1e2;
}

.price {
  background-color: #f0ad4e;
}

.quantity {
  background-color: #98e47a;
}

.btn-purchase,
.btn-return-change {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 0px 0px 0 0;
  color: #422800;
  font-weight: 600;
  font-size: 15px;
  padding: 0 18px;
  margin-top: 15px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-container {
  text-align: center;
}

.btn-purchase:hover,
.btn-return-change:hover {
  background-color: #fff;
}

.btn-purchase:active,
.btn-return-change:active {
  box-shadow: #422800 1px 1px 0 0;
  transform: translate(1px, 1px);
}

h1 {
  font-family: "Poppins-Bold", Helvetica;
  text-align: center;
}

button {
  cursor: pointer;
}

img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
